<%- include('../components/admin_template') %>
<main id="content">
  <div class="bg-transparent">
    <div class="px-8 pt-4 sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-medium leading-6 text-white"><%= req.translations.users %></h1>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      
      </div>
    </div>
    <div id="nodeTable" class="w-full mt-6">
      <table class="w-full mt-6 text-left whitespace-nowrap">
        <colgroup>
          <col class="w-full sm:w-4/12" />
          <col class="lg:w-4/12" />
          <col class="lg:w-2/12" />
          <col class="lg:w-4/12" />
          <col class="lg:w-1/12" />
          <col class="lg:w-1/12" />
        </colgroup>
        <thead class="bg-gray-700/25">
          <tr>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"><%= req.translations.name %></th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"><%= req.translations.email %></th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"><%= req.translations.information %></th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"><%= req.translations.role %></th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"><%= req.translations.edit %></th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"><%= req.translations.remove %></th>
            <th><button
          id="createButton"
          type="button"
          class="px-4 py-2 text-sm font-medium text-white transition bg-blue-500 border border-blue-500 rounded-lg hover:bg-blue-600 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-600 focus:text-white"
        >
         <%= req.translations.createUserButton %>
        </button></th>

          </tr>
          
        </thead>
        <tbody class="divide-y divide-white/5">
          <% users.forEach(function(user) { %>
            <tr class="transition duration-300 ease-in bg-white/5 hover:bg-white/10 ">
            
              <td class="px-6 py-4 text-sm font-medium text-white whitespace-nowrap"><%= user.username %></td>
              <td class="px-6 py-4 text-sm text-gray-400 whitespace-nowrap"><%= user.email %></td>
              <td class="px-6 py-4 text-sm text-gray-400 whitespace-nowrap"><%= user.userId %></td>
              <% if (user.admin==true) { %>
              <td class="px-6 py-4 text-sm text-gray-400 whitespace-nowrap"><%= req.translations.admin %></td>
              <% } else if (user.admin==false) { %>
              <td class="px-6 py-4 text-sm text-gray-400 whitespace-nowrap"><%= req.translations.regularUserRole %></td>
              <% } %>
              <td><a href="/admin/users/edit/<%= user.userId %>" class="px-6 py-2 text-sm text-gray-900 transition rounded-full hover:bg-slate-500 bg-slate-100 whitespace-nowrap"> <%= req.translations.edit %></a></td>
              <td><a id="removeButton" type="button" class="px-6 py-2 text-sm text-gray-400 transition rounded-full hover:bg-[#ba181bbd] bg-[#c1121f] whitespace-nowrap" data-user-id="<%= user.userId %>"> <%= req.translations.remove %></a></td>

            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div id="nodeForm" class="hidden w-full px-8 mt-6">
      <form>
        <label class="mb-2 text-sm tracking-tight text-neutral-400"
          ><%= req.translations.username %>:</label
        >
        <input
          id="userName"
          type="text"
          name="username"
          class="flex items-center gap-16 px-4 py-2 mt-2 mb-6 text-sm text-white transition border rounded-xl focus:ring-transparent focus:border-transparent w-96 justify-left hover:bg-white/5 border-white/5 bg-neutral-600/20 placeholder:text-white/20 border-black/10"
          placeholder="<%= req.translations.usernamePlaceholder %>"
        />
        <input
          id="email"
          type="email"
          name="email"
          class="flex items-center gap-16 px-4 py-2 mt-2 mb-6 text-sm text-white transition border rounded-xl focus:ring-transparent focus:border-transparent w-96 justify-left hover:bg-white/5 border-white/5 bg-neutral-600/20 placeholder:text-white/20 border-black/10"
          placeholder="<%= req.translations.emailPlaceholder %>"
        />

        <label class="mb-2 text-sm tracking-tight text-neutral-400"
          ><%= req.translations.passwordLabel %>:</label
        >
        <input
          id="userPass"
          type="password"
          name="password"
          class="flex items-center gap-16 px-4 py-2 mt-2 mb-6 text-sm text-white transition border rounded-xl focus:ring-transparent focus:border-transparent w-96 justify-left hover:bg-white/5 border-white/5 bg-neutral-600/20 placeholder:text-white/20 border-black/10"
          placeholder="******"
        />

        <label class="mb-2 text-sm tracking-tight text-neutral-400"
          ><%= req.translations.admin %>:</label
        >
        <select
          id="userAdmin"
          name="admin"
          class="flex items-center gap-16 px-4 py-2 mt-2 mb-6 text-sm text-white transition border rounded-xl focus:ring-transparent focus:border-transparent w-96 justify-left hover:bg-white/5 border-white/5 bg-neutral-600/20 placeholder:text-white/20 border-black/10"
        >
          <option value="true"><%= req.translations.true %></option>
          <option value="false"><%= req.translations.false %></option>
        </select>

        <label class="mb-2 text-sm tracking-tight text-neutral-400"><%= req.translations.verifiedStatus %>:</label>
        <select
          id="userVerified"
          name="verified"
          class="flex items-center gap-16 px-4 py-2 mt-2 mb-6 text-sm text-white transition border rounded-xl focus:ring-transparent focus:border-transparent w-96 justify-left hover:bg-white/5 border-white/5 bg-neutral-600/20 placeholder:text-white/20 border-black/10"
        >
        <option value="true"><%= req.translations.true %></option>
        <option value="false"><%= req.translations.false %></option>
        </select>
        

        <button
          id="createNodeBtn"
          type="button"
          class="block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-center text-sm font-medium shadow-lg transition focus:outline focus:outline-2 focus:outline-offset-2"
        >
        <%= req.translations.create %>
        </button>
      </form>
    </div>
  </div>
</main>
<script>
  document
    .getElementById("createButton")
    .addEventListener("click", function () {
      var table = document.getElementById("nodeTable");
      var form = document.getElementById("nodeForm");
      if (table.style.display !== "none") {
        table.style.display = "none";
        form.style.display = "block";
      } else {
        table.style.display = "block";
        form.style.display = "none";
      }
    });
</script>
<script>
  document
    .getElementById("createNodeBtn")
    .addEventListener("click", function () {
      const username = document.getElementById("userName").value;
      const email = document.getElementById("email").value;
      const password = document.getElementById("userPass").value;
      const adminString = document.getElementById("userAdmin").value;
      const admin = adminString === "true";

      const nodeData = {
        username,
        email,
        password,
        admin,
        verified: false,
      };

      console.log(nodeData);

      fetch("/users/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(nodeData),
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          throw new Error("Failed to create user");
        })
        .then((data) => {
          console.log("user created:", data);
          alert('<%= req.translations.userCreatedSuccess %>');
          window.location.reload();
        })
        .catch((error) =>
          alert('<%= req.translations.userCreateError %>: ' + error.message)
        );
    });
</script>
<!-- remove -->
<script>

  document.querySelectorAll('removeButton').forEach(button => {
    button.addEventListener('click', function() {
      const userId = this.dataset.userId;
      const totalUsers = document.querySelectorAll('removeButton').length;
      if (totalUsers === 1) {
        alert('<%= req.translations.databaseCannotDelete %>');
        return;
      }
      const currentUserId = '<%= user.userId %>';
      if (userId === currentUserId) {
        alert('<%= req.translations.userCannotDelete %>');
        return;
      }
      const confirmation = confirm('<%= req.translations.userDeletingConfirmation %>');
      if (!confirmation) return;

      fetch('/user/delete', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId })
      })
      .then(response => {
        if (response.ok) {
          window.location.reload();
        } else {
          throw new Error('Failed to delete user');
        }
      })
      .catch(error => alert('<%= req.translations.userDeletingError %>' + error.message));
    });
  });
</script>

<%- include('../components/footer') %>